{% extends "_templates/home_base.twig" %}
{% block content %}
    <script src="{{ constant('URL') }}public/js/jquery/jquery.wallform.js"></script>
    <div class="main-content clearfix">
        <div class="grid">
            <div class="row">
                <div class="span9">
                    {% if userLogged.level == 1 %}
                        <div>
                            <button id="btnUploadTailieu" class="button primary large">Upload Tài liệu</button>
                            <div id="areaUpload" style="{#display: none;#} border: 1px dashed #777777; padding: 10px; margin: 10px">
                                <form id = "frm" name= "frm" class="image-format-square" enctype="multipart/form-data">
                                        <label for="d-name">Tên văn bản <i style="color: #ff0203">(Bắt buộc)</i></label>
                                        <input id="d-name" type="text" size="60" value="dddd" required><br>
                                        <div id="errorname" style="color: #ff0203"></div>

                                        <label for="d-no">Số hiệu văn bản</label>
                                        <input id="d-no" type="text" size="20" value="kfkfk">

                                        <label for="d-summary">Mô tả</label>
                                        <textarea id="d-summary" style="width: 100%; height: 200px" >mmddm</textarea>

                                        <label>Upload file</label>
                                        <span id="imgList"></span>
                                        <div id="filename" style="color: #ff0203"></div>
                                        <input type="file" name="photos" id="photoimg" accept=".doc, .docx, .zip, .rar, .pdf" required><br/>
                                        <div id="errorfile" style="color: #ff0203"></div>

                                        <button class="button primary" id="btn-submit" style="margin-top: 1em">Upload</button>
                                        <button type="reset" id="btnreset" style="margin-top: 1em">Hủy</button>
                                </form>

                            </div>
                        </div>
                    {% endif %}
                </div>
                    <div class="span4">
                      <div class="panel">
                        <div class="panel-header">
                            Danh mục tài liệu <i class="icon-tab"></i>
                        </div>
                      <div class="panel-content">
                           <ul>
                               {% for type in documentTypes %}
                                   <li>{{ type.name }}</li>
                               {% endfor %}
                           </ul>
                      </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#btnUploadTailieu').on('click', function () {
                $('#areaUpload').fadeToggle();
            })

           // $('#btn-upload').on('click', function () {
            $('#btn-submit').on('click', function(event){
              //  alert($('#frm').serialize() + "fvd");

                var formData = {
                    'd-name': $("#d-name").val(),
                    'd-no': $("#d-no").val(),
                    'd-summary': $("#d-summary").val(),
                    'd-file' : $("#photoimg").prop('files')[0]
                };

                 //process the form
                $.ajax({
                    type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                    url: '{{ constant('URL') }}UploadDocument/myUserUpload', // the url where we want to POST
                    data: formData,
//                    dataType: 'json', // what type of data do we expect back from the server
//                    encode: true
                })
                        .done(function (data) {
//                          alert("Thanh cong");
//                          log data to the console so we can see
                            console.log(data);
                            // here we will handle errors and validation messages
                        })
                        .fail(function (data) {
                            console.log(data);
                            alert("That bai " + data);
                        })
              //  event.preventDefault();
            })

        })
    </script>

{% endblock %}